@model Vidly2.ViewModels.CustomerIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

@{ 
    if(Model.Customers.Count == 0)
    {
        <text>No custmers found</text>
    }
    else
    {
       <table class="table table-bordered table-hover">
           <thead>
               <tr>
                   <th>Customer</th>
                   <th>Membership Type</th>
                   <th>Discount Rate</th>
               </tr>
           </thead>
           <tbody>
               @foreach(var customer in Model.Customers)
               {
                   <tr>
                       <td>@Html.ActionLink(linkText : customer.Name, actionName: "Edit", controllerName: "Customers", routeValues: new {id = customer.Id}, htmlAttributes: null)</td>
                       <td>@customer.MembershipType.Name</td>
                       <td>@customer.MembershipType.DiscountRate%</td>
                   </tr>
               }

           </tbody>
       </table>

        
    }
}

