@model Vidly2.Controllers.DumpData

<h2>@Model.Title </h2>

<div>
    <p>This is the dump page</p>

    <p>from head: @Model.Message</p>

    <p>from viewdata: @ViewData["info"]</p>

    <p>test data: @Model.test</p>
</div>